<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/Estilo_Base.css}">
    <link rel="stylesheet" th:href="@{/css/Estilo_Home.css}">
</head>

<body id="Aux">

    <nav  th:fragment="Navbar" class="navbar navbar-expand-lg bg-white">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav menu" data-animation="to-left">
                    <li class="nav-item dropdown ">
                        <div id="A1"><a class="nav-link active" aria-current="page" th:href="@{/}" id="Auxi1">SAFAD</a></div>
                        
                    </li>
                    <li class="nav-item dropdown">
                        <div id="A1"><a class="nav-link active" aria-current="page" th:href="@{/QuienesSomos}" id="Auxi1">Quiénes Somos</a></div>
                    </li>
                    <li class="nav-item dropdown">
                        <div id="A1"><a class="nav-link active" aria-current="page" th:href="@{/Contacto}" id="Auxi1">Contacto</a></div>
                    </li>
                </ul>
                
            </div>
            <a class="btn" th:href="@{/Login}" id="Auxi5">Ingresar</a>
        </div>
    </nav>

    <div class="container">
        <div id="div_MODE">
            <img id="Auxi4" src="Imagenes/MODELO.png" >
            <div class="v-line4"></div>
        </div>
        <div id="divtxt3">
            <h1>Formación</h1>
            <h1>Motivación</h1>
            <h1>Acompañamiento</h1>
        </div>
        <div>
            <h2 id="h2txt" >Software de apoyo en la formación y acompañamiento del deporte</h2>
        </div>
    </div>

    <footer th:replace="Plantilla/Base :: footer"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="js/bootstrap.bundle.min.js" type=""></script>

</body>

</html>