<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/Estilo_Base.css}">
    <link rel="stylesheet" th:href="@{/css/Estilo_Home.css}">
    <link rel="stylesheet" th:href="@{/css/Estilo_Login.css}">
</head>

<body id="Aux">

    <Nav th:replace="Index/Home :: Navbar"></Nav>

<div class="container">
    <div class="row text-center", style="padding: 20px;">
        <h1 th:text=${titulo}></h1>
        <hr size="5px" color="black">
    </div>
    
    <form th:action="@{/Login}" method="post">
        <div class="form-group">
            <div id="form" class="col-sm-10">
                <input id="input" type="text" name="Email" placeholder="Email" required>
                
            </div>
        </div>
        <div class="form-group">
            <div id="form" class="col-sm-10">
                <input id="input" type="password" name="Password" placeholder="Password" required>
                
            </div>
        </div>
        <div class="form-group">
            <input id="Ingresar" class="btn btn-xs" type="submit" value="INGRESAR">
            <hr size="5px" color="black">
            <a  id="Olvide" class="btn btn-xs" href="#">Olvide mi contraseña</a>
        </div>
        <div th:text="${Error}"></div>
    </form>
</div>

    <footer th:replace="Plantilla/Base :: footer"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="js/bootstrap.bundle.min.js" type=""></script>

</body>

</html>