<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text=${titulo}>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/Estilo_Base.css}">
    <link rel="stylesheet" th:href="@{/css/Estilo_Directors.css}">
</head>

<body id="Aux">

    <div th:replace="Directors/Index_Director :: nav" class="container" id="Auxi1"></div>

    <div class="row text-center" id="Auxi6">
        <h1 th:text=${Titulo}></h1>
    </div>

    <div class="container" id="Auxi16">
        <form th:action="@{'/People/' + ${people.Id_People}}" th:object="${people}" method="post">
            <div class="form-group">
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" th:field="*{Name}" class="form-control">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('Name')}" th:errors="*{Name}"></small>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-form-label">Documento</label>
                <div class="col-sm-6">
                    <input type="text" th:field="*{Document}" class="form-control">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('Document')}" th:errors="*{Document}"></small>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-form-label">Dirección</label>
                <div class="col-sm-6">
                    <input type="text" th:field="*{Adress}" class="form-control">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('Adress')}" th:errors="*{Adress}"></small>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-form-label">Telefóno</label>
                <div class="col-sm-6">
                    <input type="text" th:field="*{Telephone}" class="form-control">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('Telephone')}" th:errors="*{Telephone}"></small>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-6">
                    <input type="text" th:field="*{Email}" class="form-control">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('Email')}" th:errors="*{Email}"></small>
                </div>
            </div>
            <button type="submit">Actualizar</button>
        </form>
    </div>

    <footer th:replace="Plantilla/Base :: footer"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="js/bootstrap.bundle.min.js" type=""></script>

</body>

</html>