

<h1 class="text-center">Contacto</h1>

<div class="container-contacto">


    <a href="https://www.instagram.com" target="_blank">
        <img src="~/img/instagram-icon.png" alt="Instagram" class="iconos-contacto">
    </a>
    <a href="https://www.facebook.com" target="_blank">
        <img src="~/img/facebook-icon.png" alt="Facebook" class="iconos-contacto">
    </a>
    <a href="https://www.youtube.com" target="_blank">
        <img src="~/img/youtube-icon.png" alt="YouTube" class="iconos-contacto">
    </a>
</div>
