@{
    ViewData["Title"] = "Home Page";
}

<div id="header-image">
    <div class="text-container">
        <img src="~/img/MODELO.png" alt="Logo SAFAD">
        <h2 class="header-subtitle" id="aux7">Formación</h2>
        <h2 class="header-subtitle" id="aux8">Motivación</h2>
        <h2 class="header-subtitle" id="aux9">Acompañamiento</h2>
        <div class="vertical-line"></div>
        <p class="header-motto">Software de apoyo en la formación y acompañamiento en el deporte</p>
    </div>
</div>