@{
    ViewData["Title"] = "Quiénes Somos";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
   
</head>
<body>
    <div class="content-container">
        <h1 id="aux11">@ViewData["Title"]</h1>

        <p id="parrafo">
            En la Escuela de Fútbol del PCJIC promovemos la formación integral de futbolistas, donde entrenadores,
            familias, directivos y expertos trabajan juntos para desarrollar el talento de cada jugador.
            A través de un sistema innovador, personalizamos cada etapa del entrenamiento, integrando apoyo psicológico,
            nutricional, médico y motivacional. Nuestro equipo se dedica a crear
            un entorno de crecimiento que no solo mejora el rendimiento deportivo,
            sino también el desarrollo personal de cada deportista.
        </p>
    </div>
</body>
</html>
