@{
    Layout = "~/Views/Shared/_LayoutCreate.cshtml";
}

@model Profesional

@{
    ViewData["Title"] = "Crear Profesional";
}


<div class="container-create">
    <h2 class="text-center">Crear Profesional</h2>
    <hr />
    <form asp-action="CreateUserProfesional" method="post">
        <div class="form-group">
            <label for="NameProfesional">Nombre</label>
            <input type="text" class="form-control" id="NameProfesional" name="NameProfesional" required />
        </div>
        <div class="form-group">
            <label for="DniProfesional">DNI</label>
            <input type="text" class="form-control" id="DniProfesional" name="DniProfesional" required />
        </div>
        <div class="form-group">
            <label for="Cellphone">Celular</label>
            <input type="text" class="form-control" id="Cellphone" name="Cellphone" required />
        </div>
        <div class="form-group row mb-3">
            <label for="TypeProfessionalId" class="col-sm-3 col-form-label text-end">Tipo de Profesional</label>
            <div class="col-sm-9">
                <select class="form-control" id="TypeProfessionalId" name="TypeProfessionalId" asp-items="@(new SelectList((IEnumerable<TypeProfessional>)ViewData["Type"], "TypeProfessionalId", "NameType"))" required>
                    <option value="">Seleccione un Tipo</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="Photo">Foto</label>
            <input type="file" class="form-control" id="Photo" name="photo" />
        </div>
        <div class="form-group">
            <label for="Address">Dirección</label>
            <input type="text" class="form-control" id="Address" name="Address" required />
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
    </form>
</div>



