@{
    ViewData["Title"] = "Login";
}

<div class="container-login">
    <h2 class="text-center">Validación de Usuario</h2>
    <hr />
    <form asp-action="Login" method="post">
        <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" placeholder="Correo" required/>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required/>
        </div>
        <button type="submit" class="btn btn-primary">Ingresar</button>
        <hr />
        <a id="aux10" asp-area="" asp-controller="" asp-action="">Olvidé mi contraseña</a>
    </form>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @ViewData.ModelState[string.Empty].Errors.FirstOrDefault()?.ErrorMessage
        </div>
    }
</div>