@{
    Layout = "~/Views/Shared/_LayoutCoach.cshtml";
}

@model Safad.Dtos.TeamDto

<div class="container-getdata">
    <h2 class="text-center">MIS DATOS</h2>

    <p><strong>Equipo:</strong> @Model.TeamName</p>
    <p><strong>Categoria:</strong> @Model.TeamLogo</p>
    <p><strong>N° Deportistas:</strong></p>
    <p><strong></strong> @Model.TeamLogo</p>
</div>
