.container-getdata {
    width: 700px;
    height: 500px;
    padding: 20px;
    background-color: rgba(248, 252, 184, 0.7);
    border-radius: 8px;
    margin: 0 auto;
}

.user-picture {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 100px;
    left: 650px;
    border-radius: 8px;
}

.btn-dark {
    position: absolute;
    top: 400px;
    left : 550px;
    

}

#btn {
    position: absolute;
    top: 400px;
    left: 680px;
}

.form-group {
    width: 80%;
    margin-left: 10%;
}
