#header-image img {
    max-width: 480px;
    margin-bottom: 20px;
    position: absolute;
    bottom: 300px;
    left: 150px;
}

.header-subtitle {
    font-size: 2.2rem;
    font-weight: 300;
}

.header-motto {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    position: absolute;
    bottom: 180px;
    left: 200px;
}

.vertical-line {
    border: none;
    width: 3px;
    height: 150px;
    background: linear-gradient(to bottom, #5966a7, #1a3c74);
    margin: 0 20px;
    position: absolute;
    bottom: 280px;
    left: 650px;
}

#aux7 {
    position: absolute;
    bottom: 380px;
    left: 750px;
}

#aux8 {
    position: absolute;
    bottom: 340px;
    left: 750px;
}

#aux9 {
    position: absolute;
    bottom: 300px;
    left: 750px;
}

.container-login {
    background: white;
    width: 500px;
    height: 400px;
    border-radius: 1rem;
    border: 1px solid black;
    position: absolute;
    bottom: 120px;
    left: 430px;
    padding: 1rem;
}

#email, #password {
    width: 25rem;
    margin: 0 auto;
    display: block;
    text-align: center;
    border-radius: 1rem;
}

#email {
    margin-top: 40px;
    margin-bottom: 20px;
}

#password {
    margin-bottom: 40px;
}

.btn-primary {
    background-color: #5966a7;
    color: white;
    border: none;
    display: block;
    width: 60%;
    margin: 0 auto;
}

.btn-primary {
    margin-bottom: 30px;
}

.btn:hover {
    background-color: #4a5b8d;
}

#aux10 {
    color: #5966a7;
    display: block;
    text-align: center;
    margin-top: 20px;
}

.alert-custom {
    background-color: #c6cdfa;
    color: blue;
    font-size: 14px;
    width: 80%;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}