#header-image img {
    max-width: 480px;
    margin-bottom: 20px;
    position: absolute;
    bottom: 300px;
    left: 150px;
}

.header-subtitle {
    font-size: 2.2rem;
    font-weight: 300;
}

.header-motto {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    position: absolute;
    bottom: 180px;
    left: 200px;
}

.vertical-line {
    border: none;
    width: 3px;
    height: 150px;
    background: linear-gradient(to bottom, #5966a7, #1a3c74);
    margin: 0 20px;
    position: absolute;
    bottom: 280px;
    left: 650px;
}

#aux7 {
    position: absolute;
    bottom: 380px;
    left: 750px;
}

#aux8 {
    position: absolute;
    bottom: 340px;
    left: 750px;
}

#aux9 {
    position: absolute;
    bottom: 300px;
    left: 750px;
}

.container-login {
    background: white;
    width: 500px;
    height: 400px;
    border-radius: 1rem;
    border: 1px solid black;
    position: absolute;
    bottom: 120px;
    left: 430px;
    padding: 1rem;
}

#email, #password {
    width: 25rem;
    margin: 0 auto;
    display: block;
    text-align: center;
    border-radius: 1rem;
}

#email {
    margin-top: 40px;
    margin-bottom: 20px;
}

#password {
    margin-bottom: 40px;
}

.btn-primary {
    background-color: #5966a7;
    color: white;
    border: none;
    display: block;
    width: 60%;
    margin: 0 auto;
}

.btn-primary {
    margin-bottom: 30px;
}

.btn:hover {
    background-color: #4a5b8d;
}

#aux10 {
    color: #5966a7;
    display: block;
    text-align: center;
    margin-top: 20px;
}

.alert-custom {
    background-color: #c6cdfa;
    color: blue;
    font-size: 14px;
    width: 80%;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.content-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

#aux11 {
    color: black;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 10px;
}


#parrafo {
    font-size: 1.1em;
    font-weight: 200;
    text-align: justify;
}





/* Estilo para centrar el contenedor de los íconos en el medio de la pantalla */
.container-contacto {
    display: flex;
    justify-content: center; /* Centra los íconos horizontalmente */
    align-items: center; /* Centra los íconos verticalmente */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    width: 100vw; /* Ocupa todo el ancho de la pantalla */
    gap: 30px; /* Espacio entre los íconos */
}

.iconos-contacto {
    width: 150px; /* Aumenta el tamaño de los íconos */
    height: 150px; /* Altura de los íconos */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición para el efecto hover */
}

    /* Efecto hover para agrandar y sombrear los íconos */
    .iconos-contacto:hover {
        transform: scale(1.2); /* Aumenta el tamaño del ícono al pasar el cursor */
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Agrega una sombra */
    }

