html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding-bottom: 100px;
    background-image: url('/img/Entrenador.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.container-nav {
    width: 200px;
    height: calc(100vh - 100px);
    background-color: white;
    position: fixed;
    top: 0;
}

.nav-item {
    height: 60px;
    border-top: 1px solid black;
}

.nav-aux {
    height: 120px;
}

.user-profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}

.nav-item span {
    font-size: 10px;
    font-weight: bold;
}

.nav-aux1 {
    height: 800px;
    border-top: 1px solid black;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(29, 91, 175, 0.4);
    border: 2px solid rgba(47, 99, 169, 0.8);
    padding: 1rem;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

main, header, footer {
    position: relative;
    z-index: 2;
}

.logout-icon {
    width: 150px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.logout-icon:hover {
    transform: scale(1.1);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(29, 91, 175, 0.4);
    border: 2px solid rgba(47, 99, 169, 0.8);
    padding: 1rem;
}

#aux1 {
    text-align: center;
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    font-size: 1.3rem;
    position: absolute;
    bottom: -15px;
    right: 570px;
}

#aux2 {
    width: 250px;
    height: auto;
    position: absolute;
    bottom: 30px;
    right: 550px;
}

#aux3 {
    width: 100px;
    height: auto;
    margin: 0 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 2px;
}

#aux4 {
    color: #FFFFFF;
    position: absolute;
    bottom: 60px;
    left: 100px;
    font-size: 0.9rem;
}

#aux5 {
    color: #FFFFFF;
    position: absolute;
    bottom: 30px;
    left: 100px;
    font-size: 0.9rem;
}

#aux6 {
    color: #FFFFFF;
    position: absolute;
    bottom: 0px;
    left: 100px;
    font-size: 0.9rem;
}

.social-icons {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.social-icon {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
